body {
	background-color: whitesmoke;
}

.cont {
	margin-left: 10%;
	margin-right: 10%;
	width:75%;
	position:relative;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

h1 {
	margin: 5%;
	padding-top: 2%;
	text-align: center;
}

#graph_container_1 {
	width: 70%;
	display: block;
	margin: auto;
}

#meiv2_graph {
	width: 90%;
	height: 12em;
	margin: auto;
	display: inline-block;
	position: relative;
	text-align: center;
}
#storm_count_graph {
	width: 90%;
	height: 12em;
	margin: auto;
	display: inline-block;
	position: relative;
	text-align: center;
}
#main_map_test {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 80%;
}
#year_enso_graph {
	width: 30%;
	height: 8em;
	margin-left: 5em;
	top: 3em;
	display: inline-block;
	text-align: center;
}

.slidecontainer {
	margin: auto;
	padding: 1%;
	text-align: center;
	display: inline-block;
	margin-left: 10em;
	margin-bottom: 2em;
	width: 15%;
	border-radius: 1em;
	background-color: lightgray;
}

.slidecontainer h4{
	display: inline;
	margin-bottom: 1%;
}

p {
	margin-left: 8em;
	margin-right: 8em;
}

footer {
	font-size: smaller;
	width: 70%;
	margin: auto;
}
h5 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}